@model CodingCraft_03.Domain.Models.Curso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <h4>Curso</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.CursoId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CursoId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NomeCurso, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomeCurso, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataCriacao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DataCriacao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AcessoLivre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.AcessoLivre, new { htmlAttributes = new { @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    @foreach (var status in Model.StatusCursos)
                    {
                        <li class="list-group-item"><b style="color:#0288D1">@Html.DisplayFor(modelItem => status.Status)</b> - @Html.DisplayFor(modelItem => status.Data)</li>

                    }
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar p/ Produção" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<h4>Pedidos</h4>
<table class="table">
    <tr>
        <th>
            Titulo
        </th>
        <th>
            Descricao
        </th>
        <th>
            Data do Pedido
        </th>

    </tr>

    @foreach (var item in Model.Solicitacoes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitacao.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitacao.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitacao.DataCriacao)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CursoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
