@model IEnumerable<CodingCraft_03.Domain.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcessoLivre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcessoLivre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CursoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CursoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CursoId })
        </td>
    </tr>
}

</table>
